.book-brand {
  a {
    text-align: center;
    img {
      width: 224px;
      height: 135px;
      display: block;
    }
    span {
      display: block;
    }
  }
}

.markdown blockquote {
  border-left: .25rem solid rgb(243, 230, 115);
  background-color: #fefced;
  padding-left: 2rem;
}
